.profile 
{
/*    min-height: 355px;*/
}

body {
    padding-top: 60px;*/
    font-family: 'Lato', 'sans-serif';
    background-color: #1ABC9C;
}

.card {
    float: left;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;

}
.btn-custom {
  background-color: hsl(206, 69%, 33%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a5b8e", endColorstr="#1a5b8e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1a5b8e), to(#1a5b8e));
  background-image: -moz-linear-gradient(top, #1a5b8e, #1a5b8e);
  background-image: -ms-linear-gradient(top, #1a5b8e, #1a5b8e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a5b8e), color-stop(100%, #1a5b8e));
  background-image: -webkit-linear-gradient(top, #1a5b8e, #1a5b8e);
  background-image: -o-linear-gradient(top, #1a5b8e, #1a5b8e);
  background-image: linear-gradient(#1a5b8e, #1a5b8e);
  border-color: #1a5b8e #1a5b8e hsl(206, 69%, 33%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.btn {
    margin-top: 5px;
    font-size: 5px:
}


.img-responsive { 
    max-height: 125px;
    max-width: 125px;
}

.card > .btn-custom {
    color: #fff;
    background-color: #47c8ed;    
    display:none;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

